@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App{
background-color:#a9a8a8;
margin: 10%;
}

.heading{
  font-family: "Montserrat", "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
}
.Biodata-container{
  margin: 10%;
}

